<div class="mat-elevation-z8">
    <table mat-table class="full-width-table">
        <!-- commodityModelName Column -->
        <ng-container matColumnDef="commodityModelName">
            <th mat-header-cell *matHeaderCellDef> Model Name </th>
            <td class="align-left" mat-cell *matCellDef="let element"> {{element.commodityModelName}} </td>
        </ng-container>

        <!-- commodityName Column -->
        <ng-container matColumnDef="commodityName">
            <th mat-header-cell *matHeaderCellDef> Commodity Name </th>
            <td class="align-left" mat-cell *matCellDef="let element"> {{element.commodityName}} </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td class="align-left" mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td class="align-left" mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td class="align-left" mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- pnlDaily Column -->
        <ng-container matColumnDef="pnlDaily">
            <th mat-header-cell *matHeaderCellDef> PNL Daily </th>
            <td class="align-left" mat-cell *matCellDef="let element"> {{element.pnlDaily}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>