.dashboard-card {
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
}

.value-text {
    margin: 0;
    text-align: left;
}

.title-text {
    font-weight: 400;
    margin: 0;
    text-align: center;
    color: grey;
}

.avatar-icon {
    margin: 15px;
    transform: scale(2);
}

.card-header {
    justify-content: left;
}