<!--dash.component.html-->
<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="4" rowHeight="200px">
        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="1"
            [rowspan]="1">
            <app-mini-card [title]="mc.title" [textValue]="mc.textValue" [value]="mc.value" [color]="mc.color"
                [percentValue]="mc.percentValue"></app-mini-card>
        </mat-grid-tile>
        <!--Charts-->
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <app-card title="Monthly Revenue">
                <app-historical-pnl-chart></app-historical-pnl-chart>
            </app-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <app-card title="Product Sales">
                <app-historical-pnl-chart></app-historical-pnl-chart>
            </app-card>
        </mat-grid-tile>
        <!--Table-->
        <mat-grid-tile [colspan]="4" [rowspan]="2">
            <app-card title="Card 9">
                <app-trade-table *ngIf="myList.length>0" [tradeActions]="myList"></app-trade-table>
            </app-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>